body {
    background-color: rgb(94, 113, 131);
    display: flex;
    justify-content: center;
    align-items: top;
    text-align: center;
    font-size: 2vh;
    min-height: 100vh;
    margin: 0;
}

#p1 {
    margin: 0;
}

#stupid_box {
    width: 100%;
}

#header {
    background-color: rgb(84, 103, 121);
    border-radius: 10px;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh;
}

h1 {
    margin: 0;
    padding-top: 0.7vh; 
}

.card_container {
    background-color: rgb(84, 103, 121);
    margin-inline: 30%;
    padding: 1.5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#card1, #card2, #card3 {
    height: 30vh;
    width: 22.5vh;
    font-size: 2.5rem;
    border-radius: 10px;
    margin: 1vh;
    background-color: rgb(175, 175, 175);
    box-sizing: border-box;
    padding-bottom: 2vh;
}
