body {
    background-image: url("img/background2.png");
    background-size:cover;
    display: flex;
    text-align: center;
    font-size: 2rem;
    min-height: 100vh;
    margin: 0;
    font-family: 'Stack Sans Headline';
    color: aliceblue;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

#header {
    background-color: rgba(87, 101, 117, 0.6);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    box-sizing: border-box;
    margin: 1%;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
}

.dropdown button {
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(235, 235, 255);
    transition: background-color 0.2s;
    padding: 0.4rem 1rem;
}

.dropdown:hover button {
    transition: 0.2s;
    background-color: rgb(231, 177, 196);
}

.dropdown .dropdown_content {
    display: none;
}
.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown_content {
    position:absolute;
    transition: 0.2s;
    background-color: rgba(87, 101, 117, 0.8);
    border-radius: 10px;
}

.dropdown_content a {
    display: block;
    background-color: rgb(235, 235, 255);
    margin: 0.4rem;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    transition: 0.2s;
}

.dropdown_content a:hover {
    background-color: rgb(231, 177, 196);
    scale: 1.03;
}

.section {
    display: flex;
    justify-content: center;
    background-color: rgba(87, 101, 117, 0.6);
    border-radius: 10px;
    width: 98%;
    margin: 1%;
    height: 20vw;
    align-items: flex-start;
}

button {
    border: none;
    font-family: 'Stack Sans Headline';

}

.section_header {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 1rem;
    gap: 2rem;
}

#dsm_button {
    background-color: rgb(235, 235, 255);
    border-radius: 10px;
    padding: 1rem;
    font-size: 2rem;
    transition: background-color 0.2s, scale 0.2s;
}

#dsm_button:hover {
    background-color: rgb(231, 177, 196);
    cursor: pointer;
    scale: 1.03;
}

#p1 {
    font-size: 3.5rem;
    font-weight: 100;
}

#p2 {
    font-size: 2rem;
}